@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* 폰트 */
  --font-pretendard: 'Pretendard', sans-serif;

  /* Breakpoints */
  --breakpoint-mobile: 360px; /* 360px ~ 767px */
  --breakpoint-pc: 768px; /* 768px ~ */

  /* Text */
  --color-primary: #333333; /* primary 색상 */
  --color-secondary: #555555; /* secondary 색상 */
  --color-black: #000000; /* 검정 text */
  --color-white: #ffffff; /* 흰 text */
  --color-placeholder: #888888; /* Placeholder text */

  /* Background */
  --color-bg-base: #ffffff; /* 기본 배경 */
  --color-muted: #fbfbfb; /* 흐린 배경 */
  --color-info: #f2f2f2; /* Info 배경 */
  --color-keyword: #ebebeb; /* 키워드 단어 배경 */

  /* Stroke */
  --color-base-stroke: #eaeaea; /* 기본 Stroke */
  --color-input-stroke: #d9d9d9; /* Input Stroke */

  /* Button */
  --color-disabled: #989898; /* Disabled 버튼 */
  --color-active: #000000; /* Active 버튼 */
  --color-hover: #222222; /* Active 버튼 Hover */
}

/* font 설정 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('/fonts/Pretendard-Black.woff2') format('woff2'),
    url('/fonts/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('/fonts/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('/fonts/Pretendard-Thin.woff') format('woff');
}

/* logo 영역 사용 font */
@font-face {
  font-family: 'Itim';
  font-weight: 400;
  font-display: swap;
  src:
    local('Itim Regular'),
    url('/fonts/Itim-Regular.woff2') format('woff2'),
    url('/fonts/Itim-Regular.woff') format('woff');
}

/* 기본 */
body {
  font-family: 'Pretendard', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-white);
}

.itim {
  font-family: 'Itim';
}

.prose :not(pre) > code {
  background-color: var(--color-muted);
  color: #f6b1c3;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

.prose code::before,
.prose code::after {
  content: none;
}

/* 스크롤바 숨기기 (툴바에서 사용) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
